.navbar {
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  /* padding: 10px 10px; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.navbar_title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.logo {
  width: 280px;
}
